*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}
html {
	scroll-behavior: smooth;
}
.medsos {
	padding: 5px 0;
	background-color: #020626;
}
.medsos ul li {
	display: inline-block;
	color: #fff;
	margin-right: 10px;

}
.container {
	width:80%;
	margin:0 auto;
}
.container:after {
	content: '';
	display: block;
	clear: both;
}
header h1 {
	float: left;
	padding: 15px 0;
	color: #020626;
}
header ul {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding: 25px 20px;
	display: inline-block;
}
header ul li a:hover{
	background-color: #020626;
	color: #fff;
}
.active {
	background-color: #020626;
	color: #fff;
}
.gambar {
	height: 60vh;
	width: 100%;
	background-image: url('../img/pmb.jpg');
	background-size: cover;
}
section {
	padding: 50px 0;
	background-color: #020626;
}
section h3 {
	text-align: center;
	padding: 20px 0;
	color: #fff
}
.about p {
	color: #fff;
	word-spacing: 2px;
}
.tabel tr {
	background-color: #fff;
}
.misi h3{
	color: #fff;
	text-align: center;
}
.misi p{
	color: #fff;
}
.misi li {
	color: #fff;
}
section h1 {
	padding: 20px 0;
	padding-bottom: 90px 0;
}
.pelajar {
	background: #181C39;
	border: #black solid 1px;
	padding: 1rem;
	text-align: center;
	flex: 1;
	color: #fff;
}
.mapel-icon p{
	text-align: left;
	size: 
}
.contact {
	color: #fff;
	text-align: center;

}
.pcontact {
	text-align: left;
	word-spacing: 2px;

}
.footer {
	padding: 10px;
	background-color: #020626;
	color: #fff;
	text-align: center;
	line-height: 10px;
}
@media screen and(max-width: 768px){
	.container {
		width: 90px;
	}
	header h1 {
		text-align: center;
		float: none;
	}
	header ul {
		text-align: center;
		float: none;
	}


}